#header-top-block {
  padding: 10px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(43, 42, 44, 0.09);
}
#header-left-block {
  height: 100%;
}
#header-right-block {
  height: 100%;
  margin-right: -20px;
}
