#block-like {
  width: 150px;
  margin-bottom: 5px;
}
#likegood {
  float: left;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #007bff;
  padding: 3px 4px;
  margin: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.22rem;
}
#likegoodcount {
  margin: 4px 8px;
  display: inline-block;
}
