#block-news {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 220px;
  height: auto;
}
#newsticker {
  width: 220px;
  border-top: 1px solid silver ;
  border-bottom: 1px solid silver ;
}
#newsticker p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
#newsticker li {
  margin-top: 15px;
}
#newsticker a {
  color: #E51A68;
  font-weight: 600;
  text-decoration: none;
}
#newsticker a:hover {
  text-decoration: underline;
}
#newsticker span {
  color: #335eea;
  display: block;
}
#news-prev {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 100px;
}
#news-next {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 100px;
}
